<div class="row">
    <div class="col-lg-12">
        <div class="card">
           
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                          <h3 class="box-title m-t-10">Datos del alimento</h3>
                          <hr>
                        <div class="row p-t-10">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre(s)</label>
                                    <input type="text" id="nombre" class="form-control" >
                                     </div>
                            </div>
                          
                            <!--/span-->
                          
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Grupo</label>
                                    <select class="form-control custom-select">
                                        <option value="">Seleccionar grupo</option>
                                        
                                    </select>
                                     </div>
                            </div>
  
                           
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="box-title m-t-10">Cantidades Equivalentes</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label">Cantidad</label>
                                    <input type="text" id="" class="form-control" >
                                    </div>
                            </div>
                        <div class="col-md-4">
                              <div class="form-group ">
                                  <label class="control-label">Unidad</label>
                                  <select class="form-control custom-select">
                                      <option value="">Seleccionar unidad</option>
                                      
                                  </select>
                                   </div>
                          </div>
                            <!--/span-->
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Peso Neto (g o ml)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <!--/span-->
                           
                        </div>
                        
                        <h3 class="box-title m-t-10">Contenido Nutrimental</h3>
                        <hr>
                        <h4 class="box-title m-t-10">Macronutrimentos</h4>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Calorías (kcal)</label>
                                    <input type="text" id="apePaterno" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Proteínas (g)</label>
                                    <input type="text" id="apePaterno" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Lípidos (g)</label>
                                    <input type="text" id="apePaterno" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">H. Carbono (g)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                        <div class="row">
                           
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Agua (ml)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Fibra (g)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Azúcar (g)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Etanol (g)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                        </div>
                        
                        <h4 class="box-title m-t-10">Grasas</h4>
                      
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Saturadas (g)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Monoinsaturadas (g)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Poliinsaturadas (g)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Colesterol (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                        <h4 class="box-title m-t-10">Vitaminas</h4>
                      
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vit. C (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Tiamina (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vit. B5 (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Vit. B6 (mg)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                            
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Vit. B12 (mg)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Vit. A (RAE)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Vit. D (pg)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Vit. K (pg)</label>
                                            <input type="text" id="" class="form-control" >
                                     </div>
                                    </div>
                                
                                <!--/span-->
                                
                                <!--/span-->
                            </div>
                        <!--/row-->
                        <h4 class="box-title m-t-10">Minerales</h4>
                      
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Calcio (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Hierro (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Magnesio (mg)</label>
                                    <input type="text" id="" class="form-control" >
                             </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Sodio (mg)</label>
                                        <input type="text" id="" class="form-control" >
                                 </div>
                                </div>
                            
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>&nbsp;
                        <button type="button" class="btn btn-inverse">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  