<div class="row">
    <div class="col-lg-3">
        <div class="form-group row">
            <label class="control-label text-left col-md-3">Exp.</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-group row">
            <label class="control-label text-left col-md-3">Paciente</label>
            <div class="col-md-9">
                <input type="text" class="form-control" >
            </div>
        </div>
    </div>
   
       
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group row">
            <label class="control-label text-left col-md-5"># Consulta</label>
            <div class="col-md-7">
                <input type="text" class="form-control" >
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group row">
            <label class="control-label text-left col-md-3">Fecha</label>
            <div class="col-md-9">
                <input type="text" class="form-control" >
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group row">
            <label class="control-label text-left col-md-4">Duracion</label>
            <div class="col-md-6">
                <input type="text" class="form-control" >
            </div>
            <label class="control-label text-left col-md-2">m</label>
      
        </div>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-info btn-block">Imprimir</button>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
        <div id="boton" class="card">
            <div   class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="mdi mdi-account"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Informacion Personal</h3>
      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="fa fa-child"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Estilo de vida</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="mdi mdi-food-apple"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Antecedentes Dieteticos</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="boton" class="card">
            <div   class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="mdi mdi-heart-pulse"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Antecedentes Patologicos</h3>
      </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="col-lg-4">
       
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="fa fa-stethoscope"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Diagnostico Nutricional</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="ti  ti-camera "></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Linea Fotografica</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="mdi mdi-weight-kilogram"></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Peso Corporal</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="ti  ti-ruler-alt "></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Medidas Corporales</h3>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-4">
        <div  id="boton" class="card">
            <div  class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><i id="icono" class="mdi mdi-food-variant "></i></div>
                    <div class="align-self-center">
                        <h3 class="text-muted m-t-10 m-b-0">Plan Alimenticio</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<!--Antedecentes patologicos-->

<ng-template #patologicos let-modal>
    <div class="modal-header">
        <h3>Antecedentes Patologicos</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
                          
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <!--Estilo de vida-->

<ng-template #estilo let-modal>
    <div class="modal-header">
        <h3>Estilo de vida</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
                          
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>