<div class="row">
    <div class="col-lg-12">
        <div class="card">
           
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                          <h3 class="box-title m-t-40">Informacion Personal</h3>
                          <hr>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre(s)</label>
                                    <input type="text" id="nombre" class="form-control" >
                                     </div>
                            </div>
                            <div class="col-md-4">
                                  <div class="form-group ">
                                      <label class="control-label">Apellido Paterno</label>
                                      <input type="text" id="apePaterno" class="form-control" >
                                       </div>
                              </div>
                            <!--/span-->
                          
                                  <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">Apellido Materno</label>
                                        <input type="text" id="apeMaterno" class="form-control" >
                                        </div>
                                </div>
  
                           
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                         
                        <div class="col-md-4">
                              <div class="form-group ">
                                  <label class="control-label">Estado civil</label>
                                  <select class="form-control custom-select">
                                      <option value="">Soltero(a)</option>
                                      <option value="">Casado(a)</option>
                                      <option value="">Viudo(a)</option>
                                  </select>
                                   </div>
                          </div>
                            <!--/span-->
                            <div class="col-md-4">
                                  <div class="form-group ">
                                      <label class="control-label">Religion</label>
                                      <input type="text" id="religion" class="form-control" >
                                      </div>
                              </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Direcccion</label>
                                    <input type="text" id="apePaterno" class="form-control" >
                             </div>
                            </div>
                            <!--/span-->
                           
                        </div>
                        
                        
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/aaaa">
                                </div>
                            </div>
                          <div class="col-md-2">
                            <div class="form-group ">
                                <label class="control-label">Edad</label>
                                <input type="text" disabled="disabled" id="apeMaterno" class="form-control" >
                                </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="control-label">Motivo por el cual decidiste asistir</label>
                                <input type="text"  id="apeMaterno" class="form-control" >
                             
                            </div>
                        </div>
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                        <div class="row">
                              <div class="col-md-4">
                                      <div class="form-group ">
                                          <label class="control-label">¿Por que Medio se entero?</label>
                                          <input type="text" id="apeMaterno" class="form-control" >
                                          </div>
                                  </div>
                              <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Recomendado</label>
                                        <div class="form-check">
                                            <label class="custom-control custom-radio">
                                                <input id="radio1" name="radio" type="radio" checked class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Si</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">No</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                  <!--/span-->
                                  
                                  <!--/span-->
                                  <div class="col-md-4">
                                    <div class="form-group ">
                                        <label class="control-label">¿Quien lo recomendo?</label>
                                        <input type="text" id="apePaterno" class="form-control" >
                                         </div>
                                </div>
                              </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label">Sexo</label>
                                    <select class="form-control custom-select">
                                        <option value="">Masculino</option>
                                        <option value="">Femenino</option>
                                        
                                    </select>
                                     </div>
                            </div>
                          <div class="col-md-4">
                            <div class="form-group ">
                                <label class="control-label">Telefono</label>
                                <input type="text"  id="apeMaterno" class="form-control" >
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Correo</label>
                                <input type="text"  id="apeMaterno" class="form-control" >
                             
                            </div>
                        </div>
                            <!--/span-->
                            
                            <!--/span-->
                        </div>
                        <h3 class="box-title m-t-40">Datos de cuenta de usuario</h3>
                        <hr>
                        <div class="row">
                          <div class="col-md-4">
                          <div class="form-group">
                              <label for="exampleInputuname">Usuario</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti-user"></i></div>
                                  <input type="text" class="form-control" id="exampleInputuname">
                              </div>
                          </div>
                          </div>
                          
                          <div class="col-md-4">
                          <div class="form-group">
                              <label for="pwd1">Contraseña</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti-lock"></i></div>
                                  <input type="password" class="form-control" id="pwd1" >
                              </div>
                          </div>
                          </div>
                          <div class="col-md-4">
                          <div class="form-group">
                              <label for="pwd2">Confirmar contraseña</label>
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti-lock"></i></div>
                                  <input type="password" class="form-control" id="pwd2">
                              </div>
                          </div>
                          </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>&nbsp;
                        <button type="button" class="btn btn-inverse">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  