<div class="row">
    <div class="col-lg-12">
        <div class="card">
          <form #platillosP="ngForm"ngNativeValidate >
       
            <div class="card-body">
                <h4>Datos del platillo</h4>
                <hr>
                <div class="row p-t-10">
                  
                   <div class="col-md-6">
                      <div class="form-group">
                         <label class="control-label">Nombre del platillo</label>
                          <input type="text" [(ngModel)]="platillo.nombre" name="nombre" required class="form-control" >
                      </div>
                    </div>

  <!--/span-->

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label">Tiempo de comida</label>
                            <select [(ngModel)]="platillo.tiempocomida" name="tiempocomida" required class="form-control custom-select">
                                <option value="Pre Entrenamiento">Pre Entrenamiento</option>
                                <option value="Post Entrenamiento">Post Entrenamiento</option>
                                <option value="Desayuno">Desayuno</option>
                                <option value="Media Mañana">Media Mañana</option>
                                <option value="Comida">Comida</option>
                                <option value="Media Tarde">Media Tarde</option>
                                <option value="Cena">Cena</option>
                                
                            </select>
                            </div>
                    </div>

 
  <!--/span-->
                </div>
                <h4>Agregar Alimentos al platillo</h4>
                <hr>
                <div class="row">
                    
                        <button (click)="categoria(1)"class="btn-categoria active"><img class="img-categoria"src="../../../assets/alimentos/lacteos.jpg"></button>
                                      
                        <button (click)="categoria(2)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/Frutas.png"></button>
                                      
                        <button (click)="categoria(3)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/cereales.jpg"></button>
                    
                        <button (click)="categoria(4)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/legumbres.jpg"></button>           
                   
                        <button (click)="categoria(5)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/verduras.jpg"></button>
                        
                 
                        <button (click)="categoria(6)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/pescado.jpg"></button>
                        <button (click)="categoria(7)"class="btn-categoria"><img class="img-categoria" src="../../../assets/alimentos/grasas.jpg"></button>
                      
                   
                </div>
                <div class="row">
                <div class="col-lg-5">
                    <div class="card">
                       
                        <div class="card-body">
                          
                            <div class="form-group row ">
                                <label class="control-label">Categoria</label>
                               
                                <input id="categoria" disabled class="form-control" type="text">
                                   
                                    
                               
                                </div>
                            <div class="form-group row">
                                <label class="control-label">Alimento</label>
                                <div class="input-group">
                                    <select  id="alimento" name="alimento" value="{{alimento}}" class="form-control custom-select" >
                                        <option  *ngFor="let a of alimentos"  value={{a._id}},{{a.unidad}} >{{a.nombre}}</option>
                                        
                                        
                                    </select>
                                    <button class="btn btn-info" (click)="modalbuscar(buscar)"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="form-group row">
                                
                               
                                 <input hidden="hidden" type="text" disabled name="unidad"id="unidad" class="form-control" >
                                  
                                  
                                  <div class="col-lg-12">
                                      <label class="control-label">Cantidad</label>
                                      <input type="number" min="0.00" max="10000" step="25.00" value="25.00" id="cantidad" class="form-control" >
                                  
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                             <button class="btn btn-info"  (click)="agregarAlimento();"> <i class="fa fa-plus"></i> Agregar al platillo</button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                       
                        <div  class="card-body">
                            <div id="tablaP" class="table-responsive">
                                <table id="tablaPlatillo"class="table color-table muted-table">
                                    <thead>
                                        <tr >
                                          
                                            <th hidden="hidden">#</th>
                                            <th hidden="hidden">#id</th>
                                            <th>Alimento</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of datas">
                                            <td hidden="hidden">{{data.fila}}</td>
                                            <td hidden="hidden">{{data.alimento}}</td>
                                            <td>{{data.nombre}}</td>
                                            <td>{{data.cantidad}}</td>
                                            <td>{{data.unidad}}</td>
                                            <td> <button (click)="remover(data.fila)" class="btn btn-light btn-circle" > <i class="fa fa-remove text-danger"></i></button>
                                            </td>
                                        </tr>
                                       
                                       
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            
                                    <div id="derecha" class="row pull-right col-md-3">
                                        <div class="form-group row">
                                        
                                        <button (click)="nuevoPlatillo(platillosP)" class="btn btn-success"> <i class="fa fa-save"></i> Guardar Platillo</button>
                                        
                                        
                                        </div>
                                    </div>
                                    </div>
                        
                    </div>
                </div>
              </div>
            </div>
        </form>
        </div>
    </div>
</div>    


<ng-template #buscar let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Buscar Alimento</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');cancelar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            
        <div *ngIf="mostrar===true" class="modal-body">
                <input #input (keyup)="buscarAlimento (input.value)" type="text" class="form-control" placeholder="Buscar ..."><br><br>
            <div *ngIf="alert===true" class="alert alert-success">
                Alimento seleccionado <i class="fa fa-check"></i>
            </div>
            <div id="busquedapaciente">
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th hidden="hidden">Id</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of alimentos">
                                <td hidden="hidden">{{a._id}}</td>
                           
                                <td>{{a.nombre}}</td>
                                <td>{{a.grupo}}</td>
                                                              
                                <td>
                                        <button id="botonsito" (click)="seleccionar(a,buscar)" class="btn btn-success btn-circle"><i class="fa fa-check"></i></button>
                                       
                                      
                                            
                                              
    
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div *ngIf="mostrar===false" class="modal-body">
            <div class="alert alert-info">
                Aun no registras alimentos de esta categoria..
            </div>
        </div>
        <div class="modal-footer">
            
        </div>
     
      </ng-template>