<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Usuario </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Perfil </a></li>
                        <li><a href="javascript:void()">Configuracion</a></li>
                        <li><a href="javascript:void()">Cerrar sesion</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu"> Inicio </span></a>
                 
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Pacientes </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html"> <i class="mdi mdi-account-plus"></i> Nuevo Paciente </a></li>
                        <li><a href="index2.html"><i class="mdi mdi-folder-account"></i> Expedientes</a></li>
                        <li><a href="index3.html"><i class="mdi mdi-chart-bar"></i> Progresos</a></li>
                       
                    </ul>
                </li>
                
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu"> Citas </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index2.html"><i class="mdi mdi-calendar-text"></i> Mi Calendario</a></li>
                            <li><a href="index3.html"><i class="mdi mdi-calendar-clock"></i> Citas del dia</a></li>
                           
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-food-apple"></i><span class="hide-menu"> Alimentos </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index2.html"><i class="mdi mdi-plus-circle"></i> Nuevo Alimento</a></li>
                            <li><a href="index3.html"><i class="mdi mdi-view-list"></i> Lista de Alimentos</a></li>
                           
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-silverware-variant"></i><span class="hide-menu"> Platillos </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index2.html"><i class="mdi mdi-pencil-box"></i> Crear Platillo</a></li>
                            <li><a href="index3.html"><i class="mdi mdi-view-list"></i> Lista de Platillos</a></li>
                           
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-food-variant"></i><span class="hide-menu"> Planes Alimenticios </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index2.html"><i class="mdi mdi-pencil-box"></i> Crear Plan</a></li>
                            <li><a href="index3.html"><i class="mdi mdi-view-list"></i> Lista de Planes</a></li>
                           
                        </ul>
                    </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->