<div class="row" id="contenedor">
  <div class="col-12">
      <div id="contenedor" class="card">
          <div id="contenedor" class="card-body">
                <section id="contenedor" class="statistic statistic2">
              <div id="contenedor" class="container">
                  <div class="row">
                      <div class="col-md-6 col-lg-3 ">
                          <div  class="statistic__item statistic__item--green">
                              <h2 class="number">0</h2>
                              <span class="desc">Pacientes</span>
                              <div class="icon">
                                  <i class="mdi mdi-account"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div  class="statistic__item statistic__item--purple">
                              <h2 class="number">0</h2>
                              <span class="desc">Alimentos</span>
                              <div class="icon">
                                  <i class="mdi mdi-food-apple"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div  class="statistic__item statistic__item--blue">
                              <h2 class="number">0</h2>
                              <span class="desc">Platillos</span>
                              <div class="icon">
                                  <i class="mdi mdi-silverware-variant"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div  class="statistic__item statistic__item--red">
                              <h2 class="number">0</h2>
                              <span class="desc">Dietas</span>
                              <div class="icon">
                                  <i class="mdi mdi-food-variant"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </section>
           <h3 align="center">Citas del dia</h3>
           <hr>
           <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th hidden="hidden">id</th>
                            <th>Expediente</th>
                            <th>Nombre del paciente</th>
                            <th>Fecha y hora</th>
                            <th>Estado de la cita</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td hidden="hidden"></td>
                            <td>JVG-0214</td>
                            <td>Joseline Valdez Gastelum</td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                            <td>
                                <div class="label label-table label-warning">Pendiente</div>
                            </td>
                            <td>
                                <button id="botonsito"  title="Preciona para cancelar la cita" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></button>
                                <button id="botonsito" title="Preciona para comenzar la cita" class="btn btn-primary btn-xs"><i class="mdi mdi-arrow-right-drop-circle"></i></button>
                                                                 
                            </td>
                        </tr>
                        <tr>
                                <td hidden="hidden"></td>
                                <td>JVG-0214</td>
                                <td>Joseline Valdez Gastelum</td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                                <td>
                                    <div class="label label-table label-danger">Cancelada</div>
                                </td>
                                <td>
                                    <button id="botonsito"  title="Preciona para reactivar la cita" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                    <button id="botonsito" title="Preciona para comenzar la cita" class="btn btn-primary btn-xs"><i class="mdi mdi-arrow-right-drop-circle"></i></button>
                                                                     
                                </td>
                            </tr>
                        <tr>
                                <td hidden="hidden"></td>
                                <td>JVG-0214</td>
                                <td>Joseline Valdez Gastelum</td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                                <td>
                                    <div class="label label-table label-success">Terminada</div>
                                </td>
                                <td>
                                                                        
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
</div>