<div class="row" id="contenedor">
  <div class="col-12">
      <div id="contenedor" class="card">
          <div id="contenedor" class="card-body">
                <section id="contenedor" class="statistic statistic2">
              <div id="contenedor" class="container">
                  <div class="row">
                      <div class="col-md-6 col-lg-3 ">
                          <div class="statistic__item statistic__item--green">
                              <h2 class="number">0</h2>
                              <span class="desc">Pacientes</span>
                              <div class="icon">
                                  <i class="mdi mdi-account"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--purple">
                              <h2 class="number">0</h2>
                              <span class="desc">Alimentos</span>
                              <div class="icon">
                                  <i class="mdi mdi-food-apple"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--blue">
                              <h2 class="number">0</h2>
                              <span class="desc">Platillos</span>
                              <div class="icon">
                                  <i class="mdi mdi-silverware-variant"></i>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-3">
                          <div class="statistic__item statistic__item--red">
                              <h2 class="number">0</h2>
                              <span class="desc">Dietas</span>
                              <div class="icon">
                                  <i class="mdi mdi-food-variant"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </section>
           
          </div>
        </div>
      </div>
</div>