<div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <input #input type="text" class="form-control" placeholder="Buscar ...">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Pacientes Registrados (<small>123</small>)</h3>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Ap. Paterno</th>
                                            <th>Ap. Materno</th>
                                            <th>Teléfono</th>
                                            <th>Fecha Ingreso</th>
                                            
                                            <th>Estatus</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Joseline</td>
                                            <td>Valdez</td>
                                            <td>Gastelum</td>
                                            <td>6682414321</td>
                                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> 28 septiembre 2018</span></td>
                                            <td></td>
                                            <td>
                                                    <button id="botonsito"  title="Mas informacion" class="btn btn-info btn-circle"><i class="fa fa-info"></i></button>
                                                    <button id="botonsito"  title="Historial clinico" class="btn btn-primary btn-circle"><i class="mdi mdi-folder-account"></i></button>
                                                    <button id="botonsito"  title="Progresos" class="btn btn-warning btn-circle"><i class="fa fa-bar-chart-o"></i></button>    
                                                    <button id="botonsito"  title="Desactivar" class="btn btn-danger btn-circle"><i class="fa fa-remove"></i></button>
                                                    

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button id="botonsito"  title="Desactivar" class="btn btn-secondary btn-rounded"><i class="fa  fa-chevron-left"></i> Anterior</button>
                                <button id="botonsito"  title="Desactivar" class="btn btn-secondary btn-rounded"><i class="fa  fa-chevron-right"></i> Siguiente</button>
                                               
                            </div>
                        </div>
                    </div>
                </div>