<div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                         <div class="col-12">
                        <input #input (keyup)="buscarPaciente( input.value)" type="text" class="form-control" placeholder="Buscar ...">
                         </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                    <div *ngIf="paciente.length>0" class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Pacientes Registrados (<small>{{ totalRegistro }}</small>)</h3>
                               <div id="tablaPacientes" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th hidden="hidden">Id</th>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Ap. Paterno</th>
                                            <th>Ap. Materno</th>
                                            <th>Teléfono</th>
                                            <th>Fecha Ingreso</th>
                                            
                                            <th>Estatus</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let p of paciente">
                                            <td hidden="hidden">{{p._id}}</td>
                                            <td>
                                          <ng-template #popContent><img class="img-circle w150"  alt="user" [src]="p.usuario.img | imagen "> 
                                          </ng-template>
                                           <button class="transparente" triggers="mouseenter:mouseleave" placement="right"
                                           [ngbPopover]="popContent">
                                     <img class="img-circle w20"  alt="user" [src]="p.usuario.img | imagen "> 
                                            
                                                
                                           </button>
                                            

                                            </td>
                                            <td>{{p.nombre}}</td>
                                            <td>{{p.app}}</td>
                                            <td>{{p.apm}}</td>
                                            <td>{{p.telefono}}</td>
                                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{p.fechaAlta | fecha:10}} </span></td>
                                            <td> 
                                            <span *ngIf="p.estatus=='1'" class="label label-success">Activo</span>
                                            <span *ngIf="p.estatus=='0'" class="label label-danger">Inactivo</span>
                                            </td>
                                            <td>
                                                    <button id="botonsito" (click)="editarModal(p,editar)"  ngbPopover="Preciona para editar la informacion del paciente" triggers="mouseenter:mouseleave" popoverTitle="Editar" class="btn btn-info btn-circle"><i class="mdi mdi-account-edit"></i></button>
                                                    <button  *ngIf="p.estatus=='1'" id="botonsito" (click)="desactivar(p)"  ngbPopover="Preciona para desactivar al paciente" triggers="mouseenter:mouseleave" popoverTitle="Desactivar" class="btn btn-danger btn-circle"><i class="mdi mdi-account-off"></i></button>
                                                    <button *ngIf="p.estatus=='0'" id="botonsito" (click)="reactivar(p)" ngbPopover="Preciona para reactivar al paciente" triggers="mouseenter:mouseleave" popoverTitle="Reactivar" class="btn btn-success btn-circle"><i class="mdi mdi-account-check"></i></button>
                                                 
                                                    <button id="botonsito"  (click)="expedienteModal(expediente,p)"title="Expediente" class="btn btn-warning btn-circle"><i class="mdi mdi-folder-account"></i></button>
                                                    <button id="botonsito"  (click)="dietaModal(dieta,p)"title="Asignar dieta" class="btn btn-primary btn-circle"><i class="mdi mdi-food-apple"></i></button>
                                                  
                                                        
                                                          

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                                <button (click)="cambiarDesde(-5)"id="botonsito"  title="Desactivar" class="btn btn-secondary btn-rounded"><i class="fa  fa-chevron-left"></i> Anterior</button>
                                <button  (click)="cambiarDesde(5)"id="botonsito"  title="Desactivar" class="btn btn-secondary btn-rounded"><i class="fa  fa-chevron-right"></i> Siguiente</button>
                                               
                            </div>
                        </div>
                    </div>
                    <div *ngIf="paciente.length===0"class="col-12">
                        <div class="alert alert-info">
                            No se encontro ningun paciente..
                        </div>
                    </div>
                </div>
 <!--<ng-template #nuevoCliente let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Nuevo Cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
       CONTENIDO DEL MODAL-->
       <!--  <form >

       <div class="row">
            <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">ejemplo</label>
                        <input type="text"  class="form-control" >
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label">ejemplo</label>
                            <input type="text"  class="form-control" >
                            </div>
                    </div>
       </div>
       <div class="row">
            <div class="col-md-6">
                    <div class="form-group ">
                        <label class="control-label">ejemplo</label>
                        <input type="text"  class="form-control" >
                        </div>
                </div>
                <div class="col-md-6">
                        <div class="form-group ">
                            <label class="control-label">ejemplo</label>
                            <input type="text"  class="form-control" >
                            </div>
                    </div>
       </div>
       <br>
       <button title="Guardar" class="btn btn-success "><i class="fa fa-save"></i> Guardar</button>
            
         </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
 </ng-template> -->
<ng-template #editar let-modal>
    <div class="modal-header">
       <h4 class="modal-title">Editar Paciente</h4>
       <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <form #editarPaciente="ngForm" ngNativeValidate (ngSubmit)="actualizarPaciente(editarPaciente)">
            
    <div class="modal-body">
        <!--CONTENIDO DEL MODAL-->
        <div class="form-body">
                 <div class="row p-t-20">
                    <input hidden="hidden" [(ngModel)]="editado._id" name="id" type="text"  class="form-control"  >
                    <div class="col-md-4">
                      <div class="form-group">
                          <label class="control-label">Nombre(s)</label>
                          <input [(ngModel)]="editado.nombre" name="nombre" type="text"  class="form-control" required >
                           </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group ">
                            <label class="control-label">Apellido Paterno</label>
                            <input [(ngModel)]="editado.app" name="app"type="text"  class="form-control" required>
                             </div>
                    </div>
                  <!--/span-->
                
                        <div class="col-md-4">
                          <div class="form-group ">
                              <label class="control-label">Apellido Materno</label>
                              <input  [(ngModel)]="editado.apm" name="apm" type="text"  class="form-control" >
                              </div>
                      </div>

                 
                  <!--/span-->
              </div>
            <div class="row">
                                 
                    <div class="col-md-4">
                          <div class="form-group ">
                              <label class="control-label">Estado civil</label>
                              <select  [(ngModel)]="editado.estadocivil"name="estadocivil"  class="form-control custom-select">
                                    <option *ngFor="let estado of estadosCiviles" value="{{estado}}" >{{estado}}</option>
                                        
                                  
                              </select>
                               </div>
                      </div>
                        
                        <div class="col-md-4">
                              <div class="form-group ">
                                  <label class="control-label">Religión</label>
                                  <input [(ngModel)]="editado.religion" name="religion"type="text"  class="form-control" >
                                  </div>
                          </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Direccción</label>
                                <input [(ngModel)]="editado.direccion" name="direccion" type="text"  class="form-control" required >
                         </div>
                        </div>
                        
                       
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Fecha de nacimiento</label>
                                    <input [(ngModel)]="editado.fechanacimiento" (blur)='calcularEdad()' name="fechanacimiento"type="date" class="form-control" required placeholder="dd/mm/aaaa">
                                </div>
                            </div>
                          <div class="col-md-2">
                            <div class="form-group ">
                                <label class="control-label">Edad</label>
                                <input [(ngModel)]="editado.edad"  id="edad"name="edad" type="text" disabled class="form-control" required >
                                </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="control-label">Motivo por el cuál decidiste asistir</label>
                                <input [(ngModel)]="editado.motivo" name="motivo" type="text"   class="form-control" >
                             
                            </div>
                        </div>
                            
                        </div>
                        <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label">¿Por qué Medio se entero?</label>
                                            <input [(ngModel)]="editado.medio" name="medio" type="text"  class="form-control" >
                                            </div>
                                    </div>
                                <div class="col-md-4">
                                      <div class="form-group">
                                          <label class="control-label">Recomendado</label>
                                          <select [(ngModel)]="editado.recomendado" name="recomendado" class="form-control custom-select">
                                                <option *ngFor="let r of recomendado" value="{{r}}">{{r}}</option>
                                               
                                                
                                            </select>

                                      </div>
                                  </div>
                                    
                                    <div class="col-md-4">
                                      <div class="form-group ">
                                          <label class="control-label">¿Quién lo recomendo?</label>
                                          <input [(ngModel)]="editado.quienrecomendo" name="quienrecomendo" type="text"  class="form-control" >
                                           </div>
                                  </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Sexo</label>
                                                <select [(ngModel)]="editado.sexo" name="sexo" class="form-control custom-select">
                                                    <option *ngFor="let sex of sexo" value="{{sex}}">{{sex}}</option>
                                                   
                                                    
                                                </select>
                                                 </div>
                                        </div>
                                      <div class="col-md-4">
                                        <div class="form-group ">
                                            <label class="control-label">Teléfono</label>
                                            <input [(ngModel)]="editado.telefono" name="telefono" type="text"   class="form-control" required >
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label">Email</label>
                                                <input [(ngModel)]="editado.email" disabled name="email" type="email"   class="form-control" required >
                                                </div>
                                        </div>
                                       
                                    </div> 
               
        </div>
    </div>
    <div class="modal-footer">
       <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> Guardar</button>
    
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</form> 
</ng-template>

<ng-template #dieta let-modal>
        <div class="modal-header">
           <h4 class="modal-title">Asignar dieta</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <form #dietaPaciente="ngForm" ngNativeValidate (ngSubmit)="dPaciente(dietaPaciente)">
                
                
            <div class="modal-body">

                <h6>Dieta Anterior</h6>
                <hr>
                <div *ngIf="dietaAnt===false" class="alert alert-info">
                        Aun no has asignado ninguna dieta.
                 </div>
                <div *ngIf="dietaAnt===true"class="form-group">
                        <label>Dieta: </label>
                        <select [(ngModel)]="dietaA" name="anterior" disabled  class="form-control custom-select" required>
                            <option  *ngFor="let d of dietas" value="{{d._id}}">({{d.tipopersona}}) {{d.nombre}}</option>
                                                          
                        </select>
                        </div>
                <h6>Asignar Nueva dieta</h6>
                <hr>
                    <div class="form-group">
                        <label >Antes de asignar una dieta recuerda los antecedentes del paciente:</label>
                        <div  class="alert alert-info">
                               {{antecedentes}}
                        </div>
                        
                    </div>
                    
                   
                    <div class="form-group">
                            <label for="comment">Recomendaciones:</label>
                            <textarea  name="recomendaciones"  ngModel class="form-control" required rows="3"></textarea>
                    </div>

                    <div class="form-group">
                            <label>Dieta:</label>
                            <select  name="dieta" ngModel class="form-control custom-select" required>
                                <option  *ngFor="let d of dietas" value="{{d._id}}">({{d.tipopersona}}) {{d.nombre}}</option>
                                                              
                            </select>
                            </div>
            </div>
        
        <div class="modal-footer">
           <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> Guardar</button>
        
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </form> 
    </ng-template>
<ng-template #expediente let-modal>
        <div class="modal-header">
                <h4 class="modal-title">Expediente Paciente</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <form #expediente ngNativeValidate (ngSubmit)="actualizarExpediente(expediente)">
       
             <div class="modal-body">
                    <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li id="letra"class="nav-item"> <a class="nav-link active" role="tab" aria-expanded="true" href="#home" data-toggle="tab">Exploracion</a> </li>
           
                                <li id="letra"class="nav-item"> <a class="nav-link" role="tab" aria-expanded="false" href="#medidas" data-toggle="tab">Medidas</a> </li>
                              
                            </ul>
                            <!-- Tab panes -->
                          
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                                    <div class="card-body">
                                        <h5>Antecedentes Patologicos</h5>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                        <label for="comment">Exploracion Fisica:</label>
                                                        <textarea [(ngModel)]="exp.exploracion" name="exploracion" class="form-control" required rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                        <label for="comment">Cirugias:</label>
                                                        <textarea [(ngModel)]="exp.cirugias" name="cirugias"class="form-control" required rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                            <label for="comment">Antecedentes Familiares (¿Que?,¿Quien?):</label>
                                                            <textarea [(ngModel)]="exp.antecedentes" name="antecedentes"class="form-control" required rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                        <div class="form-group">
                                                                <label for="comment">En los ultimos dias has presentado (Gastritis, Colitis o Estreñimiento)</label>
                                                                <select [(ngModel)]="exp.problemas" name="problemas"   class="form-control custom-select">
                                                                        <option *ngFor="let op of opciones" value="{{op}}">{{op}}</option>
                                                                        
                                                                </select>
                                                        </div>
                                                    </div>
                                            </div>                                           
                                        
                                    </div>
                                </div>
                                <!--second tab-->
                                
                                   
                                        <div class="tab-pane" id="medidas" role="tabpanel" aria-expanded="false">
                                           <div class="card-body">
                                               <h5>Medidas</h5>
                                               <div class="row">
                                                    <div class="col-md-6">
                                                    <h6 align="center" class="text-info">Abdomen (cm)</h6>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                        <label class="control-label">Inicial</label>
                                                                        <input [(ngModel)]="exp.abdomen" name="abdomen" type="number" min="0" required  class="form-control" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                    <div class="form-group">
                                                                            <label class="control-label">Actual</label>
                                                                            <input [(ngModel)]="exp.abdomenA" name="abdomenA" type="number" min="0"(blur)="abdomen()" required class="form-control" >
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                        <div class="form-group">
                                                                                <label class="control-label">Bajado</label>
                                                                                <input [(ngModel)]="exp.abdomenB" name="abdomenB"type="number"min="0" disabled class="form-control" >
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <h6 align="center" class="text-primary">Cintura (cm)</h6>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                                <label class="control-label">Inicial</label>
                                                                                <input [(ngModel)]="exp.cintura" name="cintura"type="number"min="0" required class="form-control" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                    <label class="control-label">Actual</label>
                                                                                    <input [(ngModel)]="exp.cinturaA" name="cinturaA" (blur)="cintura()" required type="number"min="0"  class="form-control" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                        <label class="control-label">Bajado</label>
                                                                                        <input [(ngModel)]="exp.cinturaB" name="cinturaB"type="number"min="0" disabled class="form-control" >
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                    </div>
                                               </div>
                                               <div class="row">
                                                    <div class="col-md-6">
                                                    <h6 align="center" class="text-danger">Peso (kg)</h6>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                        <label class="control-label">Inicial</label>
                                                                        <input [(ngModel)]="exp.peso" name="peso"type="number" min="0"required  class="form-control" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                    <div class="form-group">
                                                                            <label class="control-label">Actual</label>
                                                                            <input [(ngModel)]="exp.pesoA" name="pesoA" (blur)="peso()"type="number"min="0" required class="form-control" >
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                        <div class="form-group">
                                                                                <label class="control-label">Bajado</label>
                                                                                <input [(ngModel)]="exp.pesoB" name="pesoB"type="number"min="0" disabled class="form-control" >
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <h6 align="center" class="text-warning">% Grasa corporal</h6>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                                <label class="control-label">Inicial</label>
                                                                                <input [(ngModel)]="exp.grasacorporal" name="grasacorporal"type="number" min="0"required class="form-control" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                    <label class="control-label">Actual</label>
                                                                                    <input [(ngModel)]="exp.grasacorporalA"(blur)="grasacorporal()" min="0" required name="grasacorporalA"type="number"  class="form-control" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                        <label class="control-label">Bajado</label>
                                                                                        <input [(ngModel)]="exp.grasacorporalB" name="grasacorporalB" type="number" disabled class="form-control" >
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                    </div>
                                               </div>
                                               <div class="row">
                                                    <div class="col-md-6">
                                                            <h6 align="center" class="text-success">% Grasa Viceral</h6>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                                <label class="control-label">Inicial</label>
                                                                                <input [(ngModel)]="exp.grasaviceral" name="grasaviceral"type="number"min="0"  required class="form-control" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                    <label class="control-label">Actual</label>
                                                                                    <input [(ngModel)]="exp.grasaviceralA" (blur)="grasaviceral()" required min="0" name="grasaviceralA"type="number"  class="form-control" >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                        <label class="control-label">Bajado</label>
                                                                                        <input [(ngModel)]="exp.grasaviceralB" name="grasaviceralB"type="number" min="0" disabled class="form-control" >
                                                                                </div>
                                                                            </div>
                                                                </div>
                                                            </div>
                                                    <div class="col-md-6">
                                                    
                                                            <div class="form-group">
                                                                <br>
                                                                    <label class="control-label">Estatura (metros)</label>
                                                                    <input [(ngModel)]="exp.estatura" name="estatura" type="text"  required class="form-control" >
                                                            </div>
                                                    </div>
                                               </div>
                                               <div class="row">
                                                    <div class="col-md-6">
                                                            <label>IMC</label>
                                                                <div class="input-group mb-3">
                                                                                <input [(ngModel)]="exp.imc" name="imc" disabled type="number" min="0" required class="form-control" >
                                                            
                                                                                <div class="input-group-append">
                                                                                  <button (click)="calcularIMC()" class="btn btn-info" type="button"> Calcular</button>
                                                                                </div>
                                                                </div>
                                                            
                                                    </div>
                                         
                                                    <div class="col-md-6">
                                                    
                                                            <div class="form-group">
                                                                        <label class="control-label">Diagnostico de acuerdo a IMC</label>
                                                                        <input [(ngModel)]="exp.diagnostico" name="diagnostico" disabled type="text"  required class="form-control" >
                                                                </div>
                                                    </div>
                                               </div>
                                               
                                           </div>
                                            </div>

                                
                            </div>
                            
                        </div>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div>
            </form>
</ng-template>