
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body center">
                <img id="img-user" src="../../../assets/images/consulta/masculino2.PNG" >
           
                     <h4 class="card-title m-t-10">Hanna Gover</h4>
                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                    <div class="row text-center justify-content-md-center center">
                        <div class="col-4"><a class="link" href="javascript:void(0)" title="Consultas"><i class="mdi mdi-calendar-check"></i> <font class="font-medium">254</font></a></div>
                        <div class="col-4"><a class="link" href="javascript:void(0)" title="Edad"><i class="mdi mdi-cake"></i> <font class="font-medium">54</font></a></div>
                    </div>
                
            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Email address </small>
                <h6>hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>
                <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>
                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Datos personales</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Consultas</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Progreso</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Indicadores</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
        
                            <div class="card  col-lg-6">
                                <div class="card-body">
                                    <div class="form-group">
                    
                                        <label class="control-label"><span class="text-info">* </span>Nombre Completo</label>
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                            <input  name="nombre" type="text"  class="form-control"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"><span class="text-info">* </span>Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="mdi mdi-calendar"></i></div>
                                        <input   name="fechanacimiento"type="date" class="form-control" placeholder="dd/mm/aaaa">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"><span class="text-info">* </span>Género</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="mdi mdi-human-male-female "></i></div>
                                            <select  name="genero" id="genero" class="form-control custom-select">
                                              <option ></option>      
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label"><span class="text-info">* </span>Dirección</label>
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-map-marker"></i></div>
                                            <input   name="direccion"type="text"  class="form-control" >
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="card  col-lg-6">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="control-label">Religión</label>
                                        
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-church"></i></div>
                                            <input   name="religion"type="text" class="form-control">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label"><span class="text-info">* </span>Estado civil</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                            <select   name="estadocivil"  class="form-control custom-select">
                                                <option ></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Ocupación</label>
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-clipboard-account"></i></div>
                                            <input name="residencia" type="text"  class="form-control"  >
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="control-label"><span class="text-info">* </span>Teléfono</label>
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="mdi mdi-phone"></i></div>
                                            <input    name="telefono"type="text"  class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second tab-->

                
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Feeds</h4>
                                <ul class="feeds">
                                    <li class="border-list">
                                        <div class="bg-light-info"><i class="mdi mdi-calendar-clock"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span></li>
                                    <li class="border-list">
                                        <div class="bg-light-success"><i class="mdi mdi-calendar-check"></i></div> Server #1 overloaded.<span class="text-muted">2 Hours ago</span></li>
                                    <li class="border-list">
                                        <div class="bg-light-danger"><i class="mdi mdi-calendar-remove"></i></div> New user registered.<span class="text-muted">30 May</span></li>
                                    <li class="border-list border-bottom" >
                                        <div class="bg-light-warning"><i class="mdi mdi-calendar-question"></i></div> New user registered.<span class="text-muted">30 May</span></li>
                                
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Full Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone No</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Message</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12">Select Country</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>