<div *ngIf="existe===true" class="row">
          
                       <div  class="col-12">
                           <div  class="card">
                                        <div *ngIf="mostrargrafica===false" class="alert alert-info">
                                                        Tu nutriologo aun no registra tus medidas!!
                                                    </div>   
                                        <div *ngIf="mostrargrafica===true" class="chart"style = "display:block; width:100%;" > 
                                                        <canvas baseChart
                                                        [datasets]="barChartData"
                                                        [labels]="barChartLabels"
                                                        [colors] = "chartColors" 
                                                        [options]="barChartOptions"
                                                        [legend]="barChartLegend"
                                                        [chartType]="barChartType"
                                                        (chartHover)="chartHovered($event)"
                                                        (chartClick)="chartClicked($event)">
                                              </canvas>
                                           </div>
                           </div>
                       </div>
                 
                 
        </div>
<div *ngIf="existe===false" class="row">
        <div class="alert alert-info">
                Tu nutriologo aun no registra tus medidas..
        </div>
</div>

