<form #planes="ngForm"ngNativeValidate >
<div class="row" id="contenedor">
    <div class="col-12">
        <div id="contenedor" class="card">
            <div id="contenedor" class="card-body">
              <h4>Datos de la dieta</h4>
              <hr>
                <div class="row p-t-10">
                  
                    <div class="col-md-6">
                       <div class="form-group">
                          <label class="control-label">Nombre de la dieta</label>
                           <input type="text" id="nombre" name="nombre" ngModel required class="form-control" >
                       </div>
                     </div>
 
 
 
                     <div class="col-md-6">
                         <div class="form-group ">
                             <label class="control-label">Tipo de persona</label>
                             <select  name="tipopersona" ngModel required class="form-control custom-select">
                                 <option value="Cualquiera">Cualquiera</option>
                                 <option value="Padece de diabetes">Padece de diabetes</option>
                                 <option value="Padece de hipertension">Padece de hipertension</option>
                                 <option value="Padece de obesidad">Padece de obesidad</option>
                                 <option value="Padece de anemia">Padece de anemia</option>
                                 <option value="Padece de desnutricion">Padece de desnutricion</option>
                                 <option value="Quiere ganar masa muscular">Quiere ganar masa muscular</option>
                                 
                             </select>
                             </div>
                     </div>
 
  
   
                 </div>
                
               
                     <br>              
                             
                    
                <br>
                <h4>Creacion de la dieta</h4>

              <hr>
              <div  id="tablaplan"class="table-responsive">
                  <table id="tablaPlatillo"class="table table-bordered">
                      <thead>
                          <tr  id="colorcabecera">
                            
                              <th>Dias</th>
                              <th>Desayuno</th>
                              <th>Comida</th>
                              <th>Cena</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                          <tr >
                              <td >Domingo</td>
                              <td  >
                                  <div class="col-md-12">
                                        <label class="control-label">Platillo</label>

                                        <div class="input-group">
                                                
                                                <select id="domingodesayuno" name="desayunoD" ngModel required class="form-control custom-select ">
                                                        <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                           
                                                    </select>
                                                    <button class="btn btn-outline-secondary" (click)="consultarAlimentos('domingodesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                        </div>




                                       


                                  </div>
                                  


                              </td>
                              <td  >
                                    <div class="col-md-12">
                                          <label class="control-label">Platillo</label>
  
                                          <div class="input-group">
                                                  
                                                  <select id="domingocomida" name="comidaD" ngModel required class="form-control custom-select ">
                                                          <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                             
                                                      </select>
                                                      <button class="btn btn-outline-secondary" (click)="consultarAlimentos('domingocomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                          </div>                            
   
                                    </div>
                                    
  
                                </td>
                                <td  >
                                        <div class="col-md-12">
                                              <label class="control-label">Platillo</label>
      
                                              <div class="input-group">
                                                      
                                                      <select id="domingocena"name="cenaD" ngModel required class="form-control custom-select ">
                                                              <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                 
                                                          </select>
                                                          <button class="btn btn-outline-secondary" (click)="consultarAlimentos('domingocena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                              </div>                            
       
                                        </div>
                                        
      
                                    </td>
                          </tr>
                          <tr >
                                <td >Lunes</td>
                                <td  >
                                    <div class="col-md-12">
                                          <label class="control-label">Platillo</label>
  
                                          <div class="input-group">
                                                  
                                                  <select id="lunesdesayuno"name="desayunoL" ngModel required class="form-control custom-select ">
                                                          <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                             
                                                      </select>
                                                      <button class="btn btn-outline-secondary" (click)="consultarAlimentos('lunesdesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                          </div>
  
  
  
  
                                         
  
  
                                    </div>
                                    
  
  
                                </td>
                                <td  >
                                    
                                      <div class="col-md-12">
                                            <label class="control-label">Platillo</label>
    
                                            <div class="input-group">
                                                    
                                                    <select id="lunescomida" name="comidaL" ngModel required class="form-control custom-select ">
                                                            <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                               
                                                        </select>
                                                        <button class="btn btn-outline-secondary" (click)="consultarAlimentos('lunescomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                            </div>                            
     
                                      </div>
                                      
    
                                  </td>
                                  <td  >
                                          <div class="col-md-12">
                                                <label class="control-label">Platillo</label>
        
                                                <div class="input-group">
                                                        
                                                        <select id="lunescena"name="cenaL" ngModel required class="form-control custom-select ">
                                                                <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                   
                                                            </select>
                                                            <button class="btn btn-outline-secondary" (click)="consultarAlimentos('lunescena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                </div>                            
         
                                          </div>
                                          
        
                                      </td>
                            </tr>
                            <tr >
                                    <td >Martes</td>
                                    <td  >
                                        <div class="col-md-12">
                                              <label class="control-label">Platillo</label>
      
                                              <div class="input-group">
                                                      
                                                      <select id="martesdesayuno"name="desayunoM" ngModel required class="form-control custom-select ">
                                                              <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                 
                                                          </select>
                                                          <button class="btn btn-outline-secondary" (click)="consultarAlimentos('martesdesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                              </div>
      
      
      
      
                                             
      
      
                                        </div>
                                        
      
      
                                    </td>
                                    <td  >
                                          <div class="col-md-12">
                                                <label class="control-label">Platillo</label>
        
                                                <div class="input-group">
                                                        
                                                        <select id="martescomida"name="comidaM" ngModel required class="form-control custom-select ">
                                                                <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                   
                                                            </select>
                                                            <button class="btn btn-outline-secondary" (click)="consultarAlimentos('martescomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                </div>                            
         
                                          </div>
                                          
        
                                      </td>
                                      <td  >
                                              <div class="col-md-12">
                                                    <label class="control-label">Platillo</label>
            
                                                    <div class="input-group">
                                                            
                                                            <select id="martescena" name="cenaM" ngModel required class="form-control custom-select ">
                                                                    <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                       
                                                                </select>
                                                                <button class="btn btn-outline-secondary" (click)="consultarAlimentos('martescena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                    </div>                            
             
                                              </div>
                                              
            
                                          </td>
                                </tr>
                                <tr >
                                        <td >Miercoles</td>
                                        <td  >
                                            <div class="col-md-12">
                                                  <label class="control-label">Platillo</label>
          
                                                  <div class="input-group">
                                                          
                                                          <select id="miercolesdesayuno"name="desayunoMI" ngModel required class="form-control custom-select ">
                                                                  <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                     
                                                              </select>
                                                              <button class="btn btn-outline-secondary" (click)="consultarAlimentos('miercolesdesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                  </div>
          
          
          
          
                                                 
          
          
                                            </div>
                                            
          
          
                                        </td>
                                        <td  >
                                              <div class="col-md-12">
                                                    <label class="control-label">Platillo</label>
            
                                                    <div class="input-group">
                                                            
                                                            <select id="miercolescomida" name="comidaMI" ngModel required class="form-control custom-select ">
                                                                    <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                       
                                                                </select>
                                                                <button class="btn btn-outline-secondary" (click)="consultarAlimentos('miercolescomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                    </div>                            
             
                                              </div>
                                              
            
                                          </td>
                                          <td  >
                                                  <div class="col-md-12">
                                                        <label class="control-label">Platillo</label>
                
                                                        <div class="input-group">
                                                                
                                                                <select id="miercolescena"name="cenaMI" ngModel required class="form-control custom-select ">
                                                                        <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                           
                                                                    </select>
                                                                    <button class="btn btn-outline-secondary" (click)="consultarAlimentos('miercolescena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                        </div>                            
                 
                                                  </div>
                                                  
                
                                              </td>
                                    </tr>
                                    <tr >
                                            <td >Jueves</td>
                                            <td  >
                                                <div class="col-md-12">
                                                      <label class="control-label">Platillo</label>
              
                                                      <div class="input-group">
                                                              
                                                              <select id="juevesdesayuno"name="desayunoJ" ngModel required class="form-control custom-select ">
                                                                      <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                         
                                                                  </select>
                                                                  <button class="btn btn-outline-secondary" (click)="consultarAlimentos('juevesdesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                      </div>
              
              
              
              
                                                     
              
              
                                                </div>
                                                
              
              
                                            </td>
                                            <td  >
                                                  <div class="col-md-12">
                                                        <label class="control-label">Platillo</label>
                
                                                        <div class="input-group">
                                                                
                                                                <select id="juevescomida"name="comidaJ" ngModel required class="form-control custom-select ">
                                                                        <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                           
                                                                    </select>
                                                                    <button class="btn btn-outline-secondary" (click)="consultarAlimentos('juevescomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                        </div>                            
                 
                                                  </div>
                                                  
                
                                              </td>
                                              <td  >
                                                      <div class="col-md-12">
                                                            <label class="control-label">Platillo</label>
                    
                                                            <div class="input-group">
                                                                    
                                                                    <select id="juevescena" name="cenaJ" ngModel required class="form-control custom-select ">
                                                                            <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                               
                                                                        </select>
                                                                        <button class="btn btn-outline-secondary" (click)="consultarAlimentos('juevescena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                            </div>                            
                     
                                                      </div>
                                                      
                    
                                                  </td>
                                        </tr>
                                        <tr >
                                                <td >Viernes</td>
                                                <td  >
                                                    <div class="col-md-12">
                                                          <label class="control-label">Platillo</label>
                  
                                                          <div class="input-group">
                                                                  
                                                                  <select id="viernesdesayuno" name="desayunoV" ngModel required class="form-control custom-select ">
                                                                          <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                             
                                                                      </select>
                                                                      <button class="btn btn-outline-secondary" (click)="consultarAlimentos('viernesdesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                          </div>
                  
                  
                  
                  
                                                         
                  
                  
                                                    </div>
                                                    
                  
                  
                                                </td>
                                                <td  >
                                                      <div class="col-md-12">
                                                            <label class="control-label">Platillo</label>
                    
                                                            <div class="input-group">
                                                                    
                                                                    <select id="viernescomida"name="comidaV" ngModel required class="form-control custom-select ">
                                                                            <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                               
                                                                        </select>
                                                                        <button class="btn btn-outline-secondary" (click)="consultarAlimentos('viernescomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                            </div>                            
                     
                                                      </div>
                                                      
                    
                                                  </td>
                                                  <td  >
                                                          <div class="col-md-12">
                                                                <label class="control-label">Platillo</label>
                        
                                                                <div class="input-group">
                                                                        
                                                                        <select id="viernescena" name="cenaV" ngModel required class="form-control custom-select ">
                                                                                <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                                   
                                                                            </select>
                                                                            <button class="btn btn-outline-secondary" (click)="consultarAlimentos('viernescena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                                </div>                            
                         
                                                          </div>
                                                          
                        
                                                      </td>
                                            </tr>
                                            <tr >
                                                    <td >Sabado</td>
                                                    <td  >
                                                        <div class="col-md-12">
                                                              <label class="control-label">Platillo</label>
                      
                                                              <div class="input-group">
                                                                      
                                                                      <select id="sabadodesayuno"name="desayunoS" ngModel required class="form-control custom-select ">
                                                                              <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                                 
                                                                          </select>
                                                                          <button class="btn btn-outline-secondary" (click)="consultarAlimentos('sabadodesayuno'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                              </div>
                      
                      
                      
                      
                                                             
                      
                      
                                                        </div>
                                                        
                      
                      
                                                    </td>
                                                    <td  >
                                                          <div class="col-md-12">
                                                                <label class="control-label">Platillo</label>
                        
                                                                <div class="input-group">
                                                                        
                                                                        <select id="sabadocomida" name="comidaS" ngModel required class="form-control custom-select ">
                                                                                <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                                   
                                                                            </select>
                                                                            <button class="btn btn-outline-secondary" (click)="consultarAlimentos('sabadocomida'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                                </div>                            
                         
                                                          </div>
                                                          
                        
                                                      </td>
                                                      <td  >
                                                              <div class="col-md-12">
                                                                    <label class="control-label">Platillo</label>
                            
                                                                    <div class="input-group">
                                                                            
                                                                            <select id="sabadocena" name="cenaS" ngModel required class="form-control custom-select ">
                                                                                    <option  *ngFor="let p of platillo" value="{{p._id}}" ><span class="color"> </span> {{p.nombre}} ({{p.tiempocomida}})</option>
                                                                                       
                                                                                </select>
                                                                                <button class="btn btn-outline-secondary" (click)="consultarAlimentos('sabadocena'); abrirModal(verplatillo)"><i class="mdi mdi-food-variant"></i></button>
                                                                    </div>                            
                             
                                                              </div>
                                                              
                            
                                                          </td>
                                                </tr>
                         
                         
                      </tbody>
                  </table>
              </div>
              <button (click)="crearPlanAlimenticio(planes)" class="btn btn-success"> Crear Dieta</button>
         
            </div>
        </div>
    </div>
</div> 
</form>
<ng-template #verplatillo let-modal>
        <div class="modal-header">
           <h4>INGREDIENTES</h4>
           <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
                  
        <div class="modal-body">
            <!--CONTENIDO DEL MODAL-->
            
            <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th>Alimento</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ap of alimentosp">
                                <td>{{ap.nombre}}</td>
                                <td>{{ap.cantidad}}</td>
                                <td>{{ap.unidad}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

            
        </div>
        <div class="modal-footer">
          
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    
    </ng-template>