/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}
.pointer{
    cursor:pointer;
}
#botonsito{
    margin-left: 2px;
}
#tablaP{
    overflow:auto;
    height: 250px;
    border: 0.5px solid rgb(159, 163, 163);
    
    
}
#colorcabecera{
  background-color: rgb(169, 189, 224);
}
#colorfila{
    background-color: rgb(210, 221, 241);
  }
#tablaplan{
    overflow-x: scroll;
}
#derecha{
    text-align: right;
}
.w150{
    width: 150px;
}
#file-input2 {
    visibility: hidden;
    width: 0;
    position: relative;
    background-color: #ce5858 !important;
  }
#targeta{
    height: 380px;
}