/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}
.pointer{
    cursor:pointer;
}
#botonsito{
    margin-left: 2px;
}
#tablaP{
    overflow:auto;
    height: 250px;
    border: 0.5px solid rgb(159, 163, 163);
    
    
}
#derecha{
    text-align: right;
}